.greeetings-title {
  padding: 10px 0px;
  text-align: center;
  font-size: 24px;

  color: rgb(0, 159, 183);
}

.greeetings-text {
  text-align: center;
  margin-bottom: 20px;

  color: rgb(0, 159, 183);
}
