@mixin containerDefaultSetup {
  height: auto;
  width: 100%;
  padding: 10px;
}
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.forecast-container {
  margin-top: 15px;
  width: 100%;
  height: auto;
  background-color: rgb(171, 237, 198);
  padding: 10px;
  box-sizing: border-box;
  @include flex(column, flex-start, none);
  gap: 20px;

  background: rgba(255, 255, 255, 0.17);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .main-information {
    height: 160px;
    @include flex(row, space-between, center);

    .temperature-container {
      width: 50%;
      height: 100%;
      padding: 10px 0px;
      @include flex(column, flex-start, flex-start);

      .temperature {
        font-size: 42px;
        margin-left: 20px;
        margin-top: 20px;
      }

      .city {
        margin-top: 8px;
        margin-left: 20px;
        font-size: large;
      }

      .feels-like {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 14px;
      }
      .current-date {
        font-size: 14px;
        margin-top: 2px;
        margin-left: 20px;
      }
    }

    .weather-icon-container {
      width: 50%;
      height: 100%;

      background: rgba(255, 255, 255, 0.413);
      border-radius: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.068);
      backdrop-filter: blur(4.6px);
      -webkit-backdrop-filter: blur(4.6px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      @include flex(column, center, center);

      .weather-icon {
        width: 90px;
        aspect-ratio: 1/1;
      }

      .weather-icon-explaining {
        text-align: center;
        font-size: 15px;
      }
    }
  }

  .detailed-forecast-for-today {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    gap: 5px;

    .detailded-forecat-for-today-inner {
      @include flex(row, flex-start, center);
      gap: 5px;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 7px;

      .forecast-for-specific-hour {
        width: 45px;
        padding: 5px;
        border-radius: 0.5rem;
        background-color: rgba(227, 238, 255, 0.5);
        border: 0.5px solid rgba(216, 229, 255, 0.5);
        @include flex(column, flex-start, center);

        .specific-hour-hour {
          font-size: 11px;
        }

        .specific-hour-icon {
          height: 30px;
          aspect-ratio: 1/1;
        }

        .specific-hour-rain-chance {
          margin-top: 10px;
          height: 20px;
          width: 100%;
          @include flex(row, space-between, center);
          // border: 1px solid black;

          .specific-hour-percent {
            font-size: 10px;
          }
        }
      }

      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #e3e3e3;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0.2rem;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(126, 189, 194);
        border-radius: 0.2rem;
      }
    }
  }

  .forecast-for-few-days {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 15px;

    @include flex(column, center, center);
    gap: 10px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.44);

    .forecast-for-day {
      width: 100%;
      height: 2rem;
      padding: 5px;
      border-radius: 0.5rem;
      position: relative;
      background-color: rgba(227, 238, 255, 0.5);
      border: 0.5px solid rgba(216, 229, 255, 0.5);
    }

    .weekday {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 5%;
    }

    .chance-of-rain {
      position: absolute;
      margin-top: -15px;
      top: 50%;
      right: 10rem;
      width: 50px;
      height: 30px;
      @include flex(row, space-between, center);

      .drop {
        height: 20px;
        width: 20px;
      }
      .forecast-chance-of-rain {
        font-size: 15px;
      }
    }

    .forecast-icon-container {
      position: absolute;
      top: 50%;
      right: 7.5rem;
      margin-top: -12px;

      .forecast-icon {
        width: 24px;
      }
    }

    .minmax-temp_c-container {
      position: absolute;
      right: 1rem;
      top: 50%;
      margin-top: -15px;
      width: 85px;
      height: auto;
      @include flex(row, space-between, center);

      .minmax-temp_c {
        height: 30px;
        @include flex(column, space-between, center);
      }
      .minmax-min-max {
        font-size: 12px;
      }
    }
  }

  .sunrise-sunset {
    padding: 10px;
    @include flex(row, space-around, center);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.44);

    .sunrise {
      height: 100px;
      @include flex(column, space-around, center);

      .sunrise-text {
        @include flex(column, center, center);

        .sunrise-time {
          font-size: 13px;
        }
      }

      .sunrise-pic-container {
        .sunrise-pic {
          width: 100px;
        }
      }
    }
    .sunset {
      height: 100px;
      @include flex(column, space-around, center);

      .sunset-text {
        @include flex(column, center, center);

        .sunset-time {
          font-size: 13px;
        }
      }

      .sunset-pic-container {
        .sunset-pic {
          width: 100px;
        }
      }
    }
  }

  .additional-info {
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    @include flex(row, space-around, center);

    .line {
      width: 2px;
      height: 60px;
      background: rgba(171, 171, 171, 0.576);
      border-radius: 1rem;
    }

    .information {
      height: 70px;
      width: 30%;
      @include flex(column, space-between, center);

      .information-icon {
        width: 30px;
      }

      .information-text {
        font-size: 12px;
        height: 28px;
        @include flex(column, space-between, center);

        .information-title {
          font-size: 15px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
